<p><a href="/stations" class="text-muted"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back to list</a></p>

<%= erb :'includes/crowding_form' %>

<h2>Next <%= params[:direction] %> trains at <%= I18n.t "stations.#{db_signal params[:station]}" %></h2>

<% @next_trains.each_with_index do |minutes, i| %>
  <h3 class="arrival-time">In <%= minutes %> minutes</h3>
  <%= erb :'includes/train', locals: { num: i } %>
<% end %>

<script src="/public/javascripts/colouriser.js"></script>
<script src="/public/javascripts/arrivals.js"></script>

<script>
$.getJSON(document.URL, function(data) {
  $.each($('.train'), function(i, train) {
    if (data[i]) {
      populateTrain(data[i], train)
    }
  })
})

$(function() {
  callDatePicker()
})
</script>
