<p><a href="/stations" class="text-muted"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back to list</a></p>

<%= erb :'includes/date_form', locals: { url: "/stations/arriving/#{@direction}/#{@station}", date: @to } %>

<div class='box'>
  <div class='arrivals-header'>
    <% if @reload_interval %>
      <p class='auto-refresh' id='stop'><i class="fa fa-refresh"></i> Autorefresh on - <a href="#" id="stop-refresh">Click to stop</a></p>
      <p class='auto-refresh hidden' id='start'><i class="fa fa-refresh"></i> Autorefresh off - <a href="#" id="start-refresh">Click to start</a></p>
    <% end %>
    <h2>Victoria Line</h2>
    <h3>Next <%= params[:direction] %> trains at <%= I18n.t "stations.#{db_signal params[:station]}" %></h3>

    <% 4.times do |i| %>
      <% time = @next_trains[i] %>
      <h4 class="arrival-time"><%= time %></h4>
      <%= erb :'includes/train', locals: { num: i } %>
    <% end %>
  </div>

</div>

<% if @reload_interval %>
  <script src="/public/javascripts/refresh-page.js"></script>
  <script>
    var reloadTime = <%= @reload_interval.to_i * 1000 %>;
    refreshPage(reloadTime)
  </script>
<% end %>

<script src="/public/javascripts/colouriser.js"></script>
<script src="/public/javascripts/arrivals.js"></script>

<script>
$.getJSON(document.URL, function(data) {
  $.each($('.train'), function(i, train) {
    if (data[i]) {
      populateTrain(data[i], train)
    }
  })
})
</script>
