<script src="/public/javascripts/heatmap.js"></script>
<script src="/public/javascripts/colouriser.js"></script>

<%= erb :'includes/date_form', locals: { url: '/heatmap', date: @date } %>

<div id='slider'></div>

<% if @period == true %>
  <script>
  var min = <%= DateTime.parse(@from).strftime '%s' %>
  var max = <%= DateTime.parse(@to).strftime '%s' %>
  var ticks = getTicks(min, max)

  $('#slider').slider({
    min: min,
    max: max,
    ticks: ticks.ticks,
    ticks_snap_bounds: 300,
    value: min,
    tooltip: 'hide'
  })

  $('#slider').slider().on('slideStop', function(event) {
    getDataForDateTime(dateFormat(event.value))
  })
</script>

<% end %>

<% stations = YAML.load_file File.join('config', 'stations.yml') %>

<p id="loading"><i class="fa fa-spinner fa-spin"></i></p>

<div id="heatmap" class="col-md-10 col-md-offset-2">

  <div id="stations" class="hidden">
    <div class='col-md-6'>
      <h2>Northbound</h2>
      <%= erb :"includes/_stations", locals: { stations: Hash[stations.to_a.reverse], direction: :northbound } %>
    </div>

    <div class='col-md-6'>
      <h2>Southbound</h2>
      <%= erb :"includes/_stations", locals: { stations: stations, direction: :southbound } %>
    </div>
  </div>
</div>

<script>
$(function () {
  loadHeatmap(document.URL);
});
</script>
