<% if @groups %>

  <% @groups.each do |title, members| %>
    <h2><%= I18n.t "groups.#{title}" %> <a class='btn btn-primary' href="/dashboards/<%= title %>">Dashboard</a> </h2>
    <div class='row' id='<%= title %>'>
      <% members.each do |signal| %>
        <% @signals.delete signal %>
        <%= erb :signal_list, locals: { signal: signal } %>
      <% end %>
      <div class='col-md-4'>
        <a href="<%= url(group_path(title)) %>">
          <i class='fa fa-subway'></i>
          <%= I18n.t "groups.#{title}" %> Grouped
        </a>
      </div>
    </div>
  <% end %>

<% end %>

<% if @signals.count > 0 %>

  <h2>Ungrouped</h2>
  <div class='row' id='ungrouped'>
    <% @signals.each do |key, value| %>
      <%= erb :signal_list, locals: { signal: key } %>
    <% end %>
  </div>

<% end %>
