<form class='form-inline' action='/signal' method='get'>
  <div class='form-group'>
    <label for='from'>From</label>
    <input type='text' class='form-control' id='from' name='from' value='<%= params[:from] %>'>
  </div>
  <div class='form-group'>
    <label for='to'>To</label>
    <input type='text' class='form-control' id='to' name='to' value='<%= params[:to] %>'>
  </div>
  <div class='form-group'>
    <label for='interval'>Interval</label>
    <input type='text' class='form-control' id='interval' name='interval' value='<%= params[:interval] %>' style='width: 75px'>
  </div>
  <div class='form-group'>
    <label for='signal'>Signal</label>
    <select class='form-control' id='signal' name='signal'>
      <% @signals.each do |signal,address| %>
        <option <%= "selected='selected'" if @signal == signal %> value='<%= signal %>'><%= I18n.t(signal) %></option>
      <% end %>
    </select>
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </div>
</form>

<div id='chart' style="height:600px; width: 100%;"></div>

<script>

function myGraph(json) {

  var timeFormat = d3.time.format('%Y-%m-%dT%H:%M:%S+00:00');

  var data = {
      x: [],
      y: [],
      type: 'scatter'
  };

  var layout = {
    xaxis: {
      tickangle: 75,
      exponentformat: 'e',
      type: 'datetime',
    }
  }

  json.results.forEach(function(r) {
    data.x.push(timeFormat.parse(r.timestamp))
    data.y.push(r.value)
  })

  Plotly.newPlot('chart', [data], layout);
}

d3.json('<%= url('/signal.json') + '?' + URI.encode_www_form(params) %>', myGraph);

</script>
